.article {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.article--odd {
flex-direction: row-reverse;



}

.article__desc {
    width: 462px;
    padding-left: 70px;
    padding-right: 50px;
    padding-top: 80px;

    .article--odd & {
       width: 515px;
       flex: 0 0 515px;
       padding-left: 75px;
       padding-right: 105px;
    }

}

.article__title {
    color: #333333;
    font-family: "Playfair Display", serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0.42px;
    position: relative;
    margin-bottom: 45px;


    &:before {
        content: attr(data-number);
        color: #f9f9f9;
        font-family: "League Spartan", sans-serif;
        font-size: 130px;
        font-weight: 700;
        line-height: 66px;
        letter-spacing: 13px;
        position: absolute;
        left: 0;
        top: -17px;
        z-index: -1;

    }

    &:after {
content:  "";
position: absolute;
left: 0;
bottom: -5px;
width: 23px;
height: 2px;
background-color: #5da8ef;

    }
}

.article__text {
    margin-bottom: 60px;
    .desc-text;
}

.article__preview {
width: 762px;
position: relative;
flex: 0 0 762px;

.article--odd & {
    width: 490px;
flex: 0 0 490px;


}


}

.article__preview-desc {
// background-color: red;
width: 10px;
height: 10px;
position: absolute;
right: -30px;
top: 0px;

.article--odd & {
  left: -30px;
  right: auto;
 }


}

.article__preview-desc-content {
.vertical-text;

}


 





