.camp {
min-height: 475px;
position: relative;
margin-top: 75px;

}
.camp__img {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.camp__desc {
width: 50%;
padding-top: 100px;
padding-left: 44px;
 

}

.camp__label {


color: rgba(11,12,17,0.27);
font-family: "League Spartan", sans-serif;
font-size: 9px;
font-weight: 700;
line-height: 1;
text-transform: uppercase;
letter-spacing: 5.58px;
}

.camp__address {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 48px;
color: #333333;
font-family: "Playfair Display",serif;
font-size: 32px;
font-weight: 700;
line-height: 46px;
letter-spacing: 0.32px;
}