.club-description {

    padding-top: 110px;
    padding-bottom: 95px;
}


.club-description-wrapper {
position: relative;
display: flex;
flex-direction: column;



}

.club-description__img {
}
.club-description-video {
position: absolute;
 right: 0;
 top: 43px;
 z-index: 1;

}

.club-description-video__control {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 68px;
height: 68px;
box-shadow: -2px -2px 35px rgba(0, 0, 0, 0.13);
background-color: #5da8ef;
border-radius: 60px;

img {

    position: absolute;
left: 50%;
top: 50%;
transform: translate(-35%, -50%);
}




}
.club-description__text {
margin-top: 60px;
margin-left: 115px;
width: 340px;
margin-bottom: 45px;
.desc-text;

}
.club-description__link {

margin-left: 115px;

}
